<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>INICIO</ion-title>
  </ion-toolbar>
  <div class="user-dropdown" (click)="toggleDropdown()">
    <button class="user-button dropdown-toggle"  type="button" id="dropdownMenuButton" aria-expanded="false"*ngIf="usuario">{{usuario}}</button>
    <div class="dropdown-menu" *ngIf="dropdownOpen">
      <button (click)="cerrarSesion()">Salir</button>
    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">INICIO</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <h3>Créditos</h3>
    <p class="creditos flex centered">{{ this.servicioCreditos.consultarCreditos() }}</p>

    <div class="error-container flex centered">
      <p *ngIf="cargaExitosa" [class.show]="cargaExitosa" class="success-msg">La carga se realizó correctamente.</p>
      <p *ngIf="cargaFallida" [class.show]="cargaFallida" class="error-msg">No se pudo realizar la carga.</p>
    </div>

    <ion-button class="scan-btn" (click)="scan()">Escanear</ion-button>
    <ion-button (click)="this.servicioCreditos.deleteCreditos()">Limpiar créditos</ion-button>
    
  </div>
 
  
</ion-content>
