<ion-content [fullscreen]="true">
  <form action="datos" class="form-container">
    <div class="input-group-append">
      <span >
          <img class="logo" src="../../assets/usuario_mas.png"  alt="">
      </span>
    </div>
    <div class="container-input">
      <div class="input">
        <input type="email" (click)="infoEmail()" name="email" [(ngModel)]="email" placeholder="INGRESA TU EMAIL">
      </div>
      <div class="info" [ngClass]="{'ocultarm': ocultarm}">
        <h2>{{infom}}</h2>
      </div>  
      <div class="input">
        <input type="password" name="clave" (click)="infoPass()" [(ngModel)]="clave" placeholder="DEFINE TU CONTRASEÑA">
      </div>
      <div class="info" [ngClass]="{'ocultarp': ocultarp}">
        <h2 [innerHTML]="infop"></h2>
      </div>
    </div>
    
    <div class="container-login"> 
      <button class="btn-outline-primary" (click)="registro()" > Registrarse </button>
      <div class="dataError">
        <h2 *ngIf="error">{{error}}</h2>
      </div>
      <div class="dataError">
        <h2 (click)="login()" >¿Ya tenes cuenta? INICIA SESION</h2>
      </div>
    </div> 
      
  </form>
</ion-content>
